<main>
    <div class="container">
        <div class="row justify-content-between" >
            <div class="col-5">
                <h5 class="display-4">hola</h5>
            </div>
            <div class="col-4">
                <img src="..." alt="..." class="img-thumbnail">
            </div>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
        </div>
    </div>
</main>