<div style="height: 500px;" class="container" (load)="crearLista()">
    <div class="row">
        <div class="col-6 h-75">
            <h1>Prueba</h1>
            <div class="raya"></div>
            <div id="title" class="jumbotron jumbotron-fluid bg-primary text-light">
                <div class="container">
                  <h1 class="display-4">Teléfono: 985 80 45 32</h1>
                  <p class="lead">Docimicilio: C/Antonio Machado, 39, 2ºB</p>
                </div>
            </div>
            <button type="button" (click)="mostrarTitulo()" class="btn btn-outline-primary w-100">Mostrar/Ocultar</button>
        </div>
        <div class="col-6 h-75">
            <h1>Ciclos</h1>
            <div class="raya"></div>
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>