<body>
    <div class="container">
        <div class="row justify-content-start my-3">
            <div class="col-3">
                <h5 class="text-primary">Esto es listado</h5>
            </div>
        </div>
        <div class="row justify-content-start my-3">
            <div class="col-3">
                <a routerLink="/Formulario" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Departamento</a>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-10">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">nombre</th>
                        <th scope="col">descripcion</th>
                        <th scope="col">imagen</th>
                        <th scope="col">editar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of dep">
                        <th scope="row">{{i.id}}</th>
                        <td>{{i.nombre}}</td>
                        <td>{{i.descripcion}}</td>
                        <td><img class="shadow p-3 mb-5 bg-white rounded" src="{{i.imagen}}" alt="" width="100" height="100"></td>
                        <td><a [routerLink]="['/Formulario',i.id]" class="btn btn-warning btn-lg active mt-4" role="button" aria-pressed="true">Editar</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</body>