<body>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-10">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Spanish Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of pais">
                    <td>{{i.alpha3Code}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.translations.es}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>