<body>
  <div class="container">
    <div class="row my-4">
      <div class="col-10 bg-dark p-3 rounded text-white">
        <form>
          <div class="form-group">
            <label for="id">id</label>
            <input class="form-control form-control-lg" type="text" id="id">
          </div>
          <div class="form-group">
            <label for="nombre">nombre</label>
            <input class="form-control form-control-lg" type="text" id="nombre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">imagen</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <a routerLink="" class="btn btn-primary btn-lg active mt-4" role="button" aria-pressed="true">Crear Departamento</a>
        </form>
      </div>
    </div>
  </div>
</body>