<body>
  <div class="container">
    <div class="row my-4 justify-content-center">
      <div class="col-10 bg-dark p-3 rounded text-white">
        <form #miForm="ngForm" action="/Listado" method="GET">
          <div class="form-group">
            <label for="id">id</label>
            <!--<input class="form-control form-control-lg" type="text" id="id" placeholder="id" [(ngModel)]="id" name="id">-->
            <input type="text" class="form-control" ngModel #id="ngModel" name="id" maxlength="2" required placeholder="id">
          </div>

          <!--Error Id-->
          <div *ngIf="id.invalid && (id.touched || id.dirty)" class="alert alert-danger"> 
            <div *ngIf="id.errors.required" class="alert alert-danger">
                id requerido
            </div>
          </div>
          
          <div class="form-group">
            <label for="nombre">nombre</label>
            <input type="text" class="form-control" ngModel #nombre="ngModel" name="nombre" minlength="3" required placeholder="nombre">
          </div>

          <!--Error Nombre-->
          <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)" class="alert alert-danger"> 
            <div *ngIf="nombre.errors.required" class="alert alert-danger">
                nombre requerido
            </div>
    
           <div [hidden]="!nombre.errors.minlength" class="alert alert-danger">
               debe tener 3 caracteres como minimo
           </div>
          </div>

          <div class="form-group">
            <label for="nombre">descripcion</label>
            <input type="text" class="form-control" ngModel #descripcion="ngModel" name="descripcion" minlength="3" maxlength="20" required placeholder="descripcion">
          </div>

          <!--Error Nombre-->
          <div *ngIf="descripcion.invalid && (descripcion.touched || descripcion.dirty)" class="alert alert-danger"> 
            <div *ngIf="descripcion.errors.required" class="alert alert-danger">
              descripcion requerido
            </div>
              
            <div [hidden]="!descripcion.errors.minlength" class="alert alert-danger">
              debe tener 3 caracteres como minimo
            </div>
            <div [hidden]="!descripcion.errors.maxlength" class="alert alert-danger">
              debe tener 20 caracteres como maximo
            </div>
          </div>

          <!--<button type="submit" [disabled]="!miForm.form.valid" *ngIf="" class="p-3 bg-primary rounded text-white border border-primary">Crear</button>-->
        
          <button class="btn btn-primary" [disabled]="!miForm.form.valid" *ngIf="ciclo.id else elseBlock">Editar</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary">Crear</button>
          </ng-template>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
      <!--{{id}}
      {{nombre}}
      {{descripcion}}
      {{imagen}} --><br>
      {{miForm.value | json}}
      </div>
    </div>
  </div>
</body>