<main>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center p-4">
                <div class="card-columns">
                    <div class="card" *ngFor="let i of dep">
                      <img src="{{i.imagen}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{i.nombre}}</h5>
                        <p class="card-text">{{i.descripcion}}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>